<!DOCTYPE html>
<html>
    <head>
        <title>Yelpcamp</title>
        <link rel="stylesheet" href="../stylesheets/landing.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <% if(error && error.length > 0){ %>
              <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
            <% if(success && success.length > 0){ %>
              <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
          </div>
        <div class="landing-header">
            <h1>Welcome to YelpCamp</h1>
            <a class="btn btn-lg btn-primary" href="/campgrounds">View all campgrounds</a>
        </div>
        <ul>
            <li></li>
        </ul>
        
    </body>
</html>